[submodule "lib/seadrop"]
	path = lib/seadrop
	url = https://github.com/lens-protocol/seadrop.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/core-private"]
	path = lib/core-private
	url = https://github.com/lens-protocol/core-private
